<% if user_signed_in? %>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>User ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user_id==current_user.id %>
          <tr>
            <td><%= link_to friend.first_name + " " + friend.last_name , friend %>
            </td>
            <td>
              <%= friend.email %>
            </td>
            <td>
              <%= friend.phone %>
            </td>
            <td>
              <%= friend.twitter %>
            </td>
            <td>
              <%= friend.user_id %>
            </td>
            <td>
              <%= button_to "Delete" , friend, method: :delete, data: {
                confirm: "Are you sure you want to delete this friend?" }, class: "btn btn-outline-danger btn-sm" %>
            </td>
          </tr>
          <% end %>
            <% end %>
    </tbody>
  </table>

  <%= link_to 'New Friend' , new_friend_path, class: "btn btn-secondary" %>

    <% else %>
      <p>
        <%= link_to 'Sign Up' , new_user_registration_path %> or
          <%= link_to 'Sign In' , new_user_session_path %> to add friends.
      </p>
      <br>
      <div>
        <%= link_to "Back to home" , root_path, class:"btn btn-dark" %>
      </div>
      <%end%>